<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbgo.searchmgr.core.mapper.MgrHotKeywordMapper" >
  <resultMap id="BaseResultMap" type="com.mbgo.searchmgr.core.bean.MgrHotKeyword">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="word_code" property="wordCode" jdbcType="VARCHAR" />
    <result column="search_count" property="searchCount" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, word, word_code, search_count, add_time, last_update
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mgr_hot_keyword
  </select>
  <select id="selectByOther" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mgr_hot_keyword
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mgr_hot_keyword
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBatchByList" parameterType="list">
delete from mgr_hot_keyword where id in
  
  <foreach collection="list" index="index" item="idItem" open="(" separator="," close=")">
  #{idItem}
  </foreach>
  </delete>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.mbgo.searchmgr.core.bean.MgrHotKeyword" >
    insert into mgr_hot_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="word != null" >
        word,
      </if>
      <if test="wordCode != null" >
        word_code,
      </if>
      <if test="searchCount != null" >
        search_count,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="lastUpdate != null" >
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="wordCode != null" >
        #{wordCode,jdbcType=VARCHAR},
      </if>
      <if test="searchCount != null" >
        #{searchCount,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbgo.searchmgr.core.bean.MgrHotKeyword" >
    update mgr_hot_keyword
    <set >
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="wordCode != null" >
        word_code = #{wordCode,jdbcType=VARCHAR},
      </if>
      <if test="searchCount != null" >
        search_count = #{searchCount,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbgo.searchmgr.core.bean.MgrHotKeyword" >
    update mgr_hot_keyword
    set word = #{word,jdbcType=VARCHAR},
      word_code = #{wordCode,jdbcType=VARCHAR},
      search_count = #{searchCount,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=BIGINT},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
   <select id="selectAndPage" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select * from mgr_hot_keyword  hk where 1=1
  	<if test="word != null and word != '' ">
  		and hk.word LIKE CONCAT(CONCAT('%', #{word}), '%')
  	</if>
  	<if test="wordCode != null and wordCode != '' ">
  		and hk.word_code LIKE CONCAT(CONCAT('%', #{wordCode}), '%')
  	</if>
  	<if test="beginTime != null and beginTime != ''">
  	<![CDATA[
   		and hk.add_time >= #{beginTime} 
   		]]>
  	</if>
    <if test="endTime != null and endTime != ''" >
  	<![CDATA[
  	and hk.add_time <= #{endTime} 
    	]]>  
  	</if>
  	order by add_time desc
  	LIMIT  #{currentPage}, #{pageSize} 
  </select>
  
  
   <select id="selectPageTotal" parameterType="java.util.Map" resultType="int">
  		select count(*) from mgr_hot_keyword  hk where 1=1
  	<if test="word != null and word != '' ">
  		and hk.word LIKE CONCAT(CONCAT('%', #{word}), '%')
  	</if>
  	<if test="wordCode != null and wordCode != '' ">
  		and hk.word_code LIKE CONCAT(CONCAT('%', #{wordCode}), '%')
  	</if>
  	<if test="beginTime != null and beginTime != ''">
  	<![CDATA[
   		and hk.add_time >= #{beginTime} 
   		]]>
  	</if>
    <if test="endTime != null and endTime != ''" >
  	<![CDATA[
  	and hk.add_time <= #{endTime} 
    	]]>  
  	</if>
  </select>
  
  
   <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mgr_hot_keyword
    where word_code = #{wordCode,jdbcType=VARCHAR}
  </select>
  
</mapper>